html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.container1mobile{
    display: none;
}
body {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
}


.main{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.logo{
    background-image: url(./images/main.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 34vw;
    height: 100vh;
}

.imgdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 22vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.space{
    overflow: hidden;
    display: flex;
    height: 15vh;
}

.container1{
    float: left;
    height: 100%;
    width: 34%;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}



.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    float: right;
    height: 100vh;
    width: 66%;
    background-color: black;
    color: rgb(72, 72, 72);
    padding-right: 10%;
    padding-left: 2%;
}


.c2c1{
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
}

.c2c2{
    display: flex;
}

.c2c3{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.c2container{
    display: flex;
    justify-content: flex-start;
    gap: 40px;

}

.c2text{
    padding-top: 5%;
}

.input1{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.big{
    font-size: 20px;
}

.input{
    background-color: rgb(28, 29, 29);
    border: 1px solid rgb(28, 29, 29);
    border-radius: 5px;
    flex-flow: column wrap;
    width: 20vw;
    height: 3vh;
    max-width: 100%;
    color: rgb(82, 76, 76);
}

.inputtext{
    color: rgb(93, 96, 96);
    font-size: 10px;
}

.c2c4{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.c2div2{
    display: flex;
    gap: 40px;
}

.create{
    background-color: black;
    border: 2px solid purple;
    border-radius: 5px;
    color: purple;
    min-width: fit-content;
    min-height: fit-content;
    width: 25%;
    height: 4rem;
    font-size: 26px;
    font-weight: 900;
    position: inherit;
    opacity: 0.6;
}

.create:hover{
    background-color: purple;
    border: 2px solid purple;
    border-radius: 5px;
    color: black;
    opacity: 1;
    transition: 0.5s;
}

.c2t2:hover{
    color:purple;
}

.bigimg{
    max-width: 100%;
    height: 100vh;
}

.container3{
    padding-right: 1%;
    display: flex;
    background-color: black;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}


.navimg{
    width: 50px;
    height: 50px;
}

@media only screen and (max-width:600px){
    .container1{
        display: none;
    }
    .container1mobile{
        display: unset;
    }
    .logomobile{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        overflow: hidden;
        display: flex;
        height: 10vh !important;
        width: 100vw !important;
        background-image: url(./images/index.png);
        opacity: 0.7;
    }
    .spacemobile{
        width: 15%;
    }
    .spacetext{
        font-size: 40px;
        color: white;
    }
    .container3{
        display: flex;
        justify-content: center;
        align-items: center ;
        position: absolute;
        bottom: 0;

        width: 100%;
    }
    .navbar{
        display: flex;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
    }
    .container2{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 !important;
        margin: 0 !important;
    }   
    .c2c1{
        text-align: center;
    }
    .input1{
        width: 40vw;
    }
    .input{
        width: auto;
    }
    .inputtext{
        font-size: 10px;
    }

    .c2div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
